:root {
    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 16px;
    --font-medium: 15px;
    --font-small: 13px;
    --font-micro: 11px;

    /* color */
    --white-color: #f9f9f9;
    --black-color: #000000;
    --grey-dark-color: #252525;
    --grey-light-color: rgba(0, 0, 0, 0.1);
    --red-color: #ff0000;
    --blue-color: #216fd5; 
    --blue-light-color: #87b5d8; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-dark-color);
    color: var(--white-color);
    font-size: var(--font-large);
    padding: var(--padding);
}`

header .logo i {
    color: #ff0000;
}

header .logo .name {
    font-weight: bold;
}

.player {
    background-color: var(--black-color);
    width: 100%;
    height: auto;
}

.player video {
    display: block;
    margin: auto;
    max-width: 1042px;
}

.meta-data {
    border-bottom: 1px solid var(--grey-light-color);
    padding: 20px 0 8px 0;
}

.hashtag {
    display: flex;
    color: var(--blue-color);
    font-size: var(--font-micro);
}

.video__name {
    display: block;
    font-size: var(--font-large);
    font-weight: 500;
}

.detail {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.video-data {
    display: flex;
    align-items: center;
    color: var(--grey-dark-color);
    font-size: var(--font-small);
}

.actions i {
    color: var(--grey-dark-color);
}

.channel-Info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

/* 채널 데이터*/
.profile {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
}

.profile img {
    width: 100%;
    height: 100%;
}

.channel {
    flex-grow: 1;
}

.channel .followers {
    font-size: var(--font-micro);
}