:root {
    /*size */
    --padding-header-side: 20px;
    --padding-current-video-side: 60px;
    --padding-main-top: 24px;
    --avatar-size: 36px;
    --margin-next-video: 8px;

    /* font size */
    --font-large: 16px;
    --font-medium: 15px;
    --font-small: 13px;
    margin-right: var(--margin-next-video);
    --font-micro: 11px;

    /* color */
    --white-color: #ffffff;
    --white-to-grey-color: #f9f9f9;
    --black-color: #000000;
    --grey-color: #9a9a9a;
    --grey-dark-color: #252525;
    --grey-light-color: rgba(0, 0, 0, 0.1);
    --logo-red-color: #ff0000;
    --button-red-color: #cc0000;
    --blue-color: #216fd5; 
    --blue-light-color: #87b5d8; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    background-color: var(--white-to-grey-color);
}

.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 56px 1fr;
    gap: 24px;
}

li {
    list-style: none;
}

button {
    border: none;
}

/* header */
header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    color: var(--white-color);
    font-size: var(--font-large);
    padding: var(--padding-header-side);
}

header i {
    width: 24px;
    height: 24px;
    color: var(--grey-dark-color);
}

header .logo .fa-youtube {
    color: var(--logo-red-color);
}

header .logo .name {
    color: var(--black-color);
    font-weight: bold;
}

.current-video {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: var(--padding-current-video-side);
    
}

.player {
    width: 100%;
    height: auto;
}

.player video {
    display: block;
    margin: auto;
    max-width: 1042px;
}

.meta-data {
    border-bottom: 1px solid var(--grey-light-color);
    padding: 20px 0 8px 0;
}

.hashtag {
    display: flex;
    color: var(--blue-color);
    font-size: var(--font-micro);
}

.video__name {
    display: block;
    font-size: var(--font-large);
    font-weight: 500;
}

.detail {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.video-data {
    display: flex;
    align-items: center;
    color: var(--grey-dark-color);
    font-size: var(--font-small);
}

.actions button {
    background-color: var(--white-to-grey-color);
    padding-right: 6px;
}

.actions button i {
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 24px;
    color: var(--grey-color);
}

.channel-Info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

/* 채널 데이터*/
.profile {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
}

.profile img {
    width: 100%;
    height: 100%;
}

.channel {
    flex-grow: 1;
}

.channel .followers {
    font-size: var(--font-micro);
}

.subscribe {
    width: 72px;
    height: 38px;
    border-radius: 2.5px;
    padding: 10px 16px;
    background-color: var(--button-red-color);
    text-align: center;
    font-size: var(--font-medium);
    color: var(--white-color);
}

/*next-video*/
.up-next {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 402px;
}

.up-next .next-video {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--margin-next-video);
}

.up-next .next-video img {
    width: 168px;
    height: 94px;
    margin-right: var(--margin-next-video);
}

.up-next .next-video .next-video-data {
    display: flex;
    flex-direction: column;
}